! CONDICIONES INICIALES DEL PENDULO DOBLE
1  ! masa 1 (g)
700  ! masa 2 (g)
70  ! longitud 1  (cm)
5  ! longitud 2  (cm)
-1.30  ! Angulo inicial 1 (rad)
-1.45  ! Angulo inicial 2 (rad)
0  ! velocidad angular inicial 1 (rad/s)
0  ! velocidad angular inicial 2 (rad/s)



!!!!!!!!!!!! NOTAS !!!!!!!!!!!!
